@font-face {
    font-family: Erebor;
    src: url(fonts/Erebor.ttf);
}

@font-face {
    font-family: Erebor1;
    src: url(fonts/Erebor1.ttf);
}

@font-face {
    font-family: Erebor2;
    src: url(fonts/Erebor2.ttf);
}

@font-face {
    font-family: Erebcap;
    src: url(fonts/Erebcap.ttf);
}

@font-face {
    font-family: Erebcap1;
    src: url(fonts/Erebcap1.ttf);
}

@font-face {
    font-family: Erebcap2;
    src: url(fonts/Erebcap2.ttf);
}

.App {
    text-align: center;
}

.translationHolder {
    display: flex;
    flex-direction: row;
}

.textareaHolder {
    flex-grow: 1;
    flex-shrink: 1;
}

.english {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
}

.dwarvish {
    font-family: 'Erebor';
    font-size: 20pt;
}